.idea
/logs
/data
.env
/.project
.docker-sync
/jenkins/jenkins_home
/nginx/ssl/*.crt
/nginx/ssl/*.key
/nginx/ssl/*.csr
.github
adminer
aerospike
apache2
aws
beanstalkd
beanstalkd-console
caddy
certbot
docker-registry
docker-web-ui
DOCUMENTATION
elasticsearch
gitlab
grafana
haproxy
hhvm
ide-codiad
ide-icecoder
ide-theia
ide-webide
ipython
jenkins
jupyterhub
kibana
laravel-echo-server
laravel-horizon
logs
maildev
mailhog
mariadb
memcached
minio
mongo
mongo-webui
mosquitto
mssql
neo4j
percona
pgadmin
php-fpm
php-worker
phpmyadmin
portainer
postgres
postgres-postgis
rabbitmq
redis
rethinkdb
selenium
solr
thumbor
varnish
zookeeper
